<div>
    {$welcome}
    <form>
        Введите список для обработки:<br>
        <textarea name="Text1" cols="40" rows="5"></textarea> <br>

        <button type="submit" form="form1" value="Submit">Обработать</button>
    </form>
</div>